/* Form.css */

.form-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
  }
  
  .form-section {
    margin-bottom: 20px;
  }
  
  .form-section h6 {
    margin-bottom: 5px;
  }
  
  .button-group {
    display: flex;
  }
  
  .button-group button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
    background-color: #f0f0f0;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button-group button:hover {
    background-color: #e0e0e0;
  }
  
  .button-group button.selected {
    background-color: #007bff;
    color: #fff;
  }
  
  input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .date-picker-wrapper {
    display: flex;
    margin-bottom: 10px; /* Reduce space between date inputs */
  }
  
  .date-picker-wrapper .form-section {
    flex: 0 0 48%; /* Adjust width of date inputs */
  }
  
  button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #4caf50; /* Green color */
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049; /* Darker green color on hover */
  }
  